@page
@model todolist.Pages.ActualizarTarefaModel
@{
}

<table>



    <tr>

        <th>Descrição da tarefa</th>

        <th>Data de inicio</th>

        <th>Data de fim</th>

    </tr>



    @foreach (var task in Model.tarefas)

    {

        <tr>

            <form method="POST">

                <input type="hidden" name="id" value="@Html.DisplayFor(modelItem => task.Id)" />

            <td> <input type="text" name="descricao" value="@Html.DisplayFor(modelItem => task.Descricao)" /> </td>

            <td> <input type="datetime" name="dataInicio" value="@Html.DisplayFor(modelItem => task.DataInicio)" /></td>

            <td> <input type="datetime" name="dataFim" value="@Html.DisplayFor(modelItem => task.DataFim)" /></td>

            <td> <input type="submit" value="Guardar" onclick="return confirm('Quer mesmo efectuar a alteração?')" /></td>



            </form>

        </tr>

    }



</table>


