@page
@model todolist.Pages.CriarTarefaModel
@{


}


<form method="POST">   
    <input type="text" name="descricao" placeholder="Escreva uma descrição" />   
    <input type="date" name="dateInicio" placeholder="Escolha a data de inicio" />   
    <input type="date" name="dateFim" placeholder="Escolha a data fim" />    
    <input type="submit" value="Criar" />
</form>
@if (!string.IsNullOrEmpty(ViewData["Mensagem"] as string))
{
    <p>@ViewData["Mensagem"]</p>
}